@media only screen and (min-width: 794px) {
  body {
  }
}

body {
  overflow: hidden;
  background: rgb(0, 0, 0);
  color: white;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  cursor: url('/images/cursor.png'), auto;
}

.presentation-page {
 background-color: black;
}

.onglet, .wrap, .custom-button, .custom-button:hover {
  cursor: url('/images/cursor.png'), auto;
}

.typewrite { 
  color: #fff; /* Couleur blanche */ 
  text-decoration: none; /* Pas de soulignement */ 
  font-size: 25px;
}


canvas {
  display: block;
  position: fixed; /* Fixed position to stay in the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Send canvas to the background */
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: relative; /* Ensure content is above canvas */
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #474747;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Hide the icon by default */
.icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown-menu {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown-menu .dropbtn {
  font-size: 17px;  
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown-menu:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.603);
  color: black;
  box-shadow: 0px 0px 36px 0px rgba(227,232,231,0.42);
  cursor: url('/images/cursor.png'), auto;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Dropdown content links */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown-menu:hover .dropdown-content {
  display: block;
}

/* Responsive navbar */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .topnav-right a.onglet, .dropdown-menu .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav-right.responsive {float: none;}
  .topnav-right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav-right.responsive .dropdown-menu {float: none;}
  .topnav-right.responsive .dropdown-content {position: relative;}
}
/* Hide the icon by default */
.icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown-menu {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown-menu .dropbtn {
  font-size: 17px;  
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown-menu:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.603);
  color: black;
  box-shadow: 0px 0px 36px 0px rgba(227,232,231,0.42);
  cursor: url('/images/cursor.png'), auto;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Dropdown content links */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown-menu:hover .dropdown-content {
  display: block;
}

/* Responsive navbar */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .topnav-right a, .dropdown-menu .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav-right.responsive {float: none;}
  .topnav-right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav-right.responsive .dropdown-menu {float: none;}
  .topnav-right.responsive .dropdown-content {position: relative;}
}

/* Réduire la taille du carré grisé sur les petits écrans */
@media screen and (max-width: 500px) {
 
  .topnav {
    padding: 5px; /* Reduce the overall padding of the navbar */
  }

  .carre {
    width: 90%; /* Utilisez 90% de la largeur de l'écran */
    height: 10px; !important
    padding: 20px; /* Ajustez le padding pour une meilleure adaptation */
  }

  .vl, .vl_presentation, .vl_e4 {
    height: 300px; /* Adjust the height of vertical lines for smaller screens */
    left: 50%; /* Center lines for better visibility */
  }
}

/* Grands écrans */
body {
  overflow: hidden;
  background: rgb(0, 0, 0);
  color: white;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  cursor: url('/images/cursor.png'), auto;
}

.full {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22505200;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.carre {
  background-color: #2c2c2cef;
  padding: 115px 5px 40px 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20%;
  margin-bottom: 25%;
  width: 25%;
  height: 40vh;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(227,232,231,0.42);
  -moz-box-shadow: 0px 0px 36px 0px rgba(227,232,231,0.42);
  box-shadow: 0px 0px 36px 0px rgba(227,232,231,0.42);
}


.img_linkdn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: url('/images/cursor.png'), auto;
}

/* Assurez-vous que l'image ne dépasse pas la largeur de la div */
.img_linkdn img {
  max-width: 150px; /* Définir une largeur maximale pour l'image */
  height: auto; /* Maintenir les proportions */
  margin-left: 00%;
  margin-bottom: 10%;
}


@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    padding: 10px;
  }
  

  .blabla{
    margin-left: 5%;
    text-align: left;
    margin-top: 10%;
    }
  
  .tete, .tete_pre {
    border-radius: 100px;
    max-width: 100px; /* Limiter la largeur maximale */ 
    height: auto; /* Maintenir les proportions */ 
    margin-top: 10%; /* Ajouter un espace en haut */
  }
  
  .img_linkdn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: url('/images/cursor.png'), auto;
  }
  
  /* Assurez-vous que l'image ne dépasse pas la largeur de la div */
  .img_linkdn img {
    max-width: 1500px; /* Définir une largeur maximale pour l'image */
    height: auto; /* Maintenir les proportions */
    margin-left: 00%;
    margin-bottom: 20%;
  }

  .portfolio-title {
    font-size: 1px;
  }


  .topnav {
    padding: 5px;
  }
  
  .cvpdf {
    margin-top: 5% !important;
    margin-left: 5% !important;
    width: 90% !important; /* Ajustez la largeur pour rendre le conteneur plus petit */
    height: 80vh !important; /* Définir une hauteur spécifique en unités de hauteur de fenêtre */
    max-height: 80vh !important; /* Assurer que la hauteur maximale est respectée */
    -webkit-box-shadow: 0px 0px 36px 0px rgba(227,232,231,0.42);
    -moz-box-shadow: 0px 0px 36px 0px rgba(227,232,231,0.42);
    box-shadow: 0px 0px 36px 0px rgba(227,232,231,0.42);
    overflow: hidden;
  }
  
  

  .carre {
    width: 90%;
    padding: 20px;
    height: 50vh;
  }

  .portfolio-subtitle {
    font-size: 24px;
    width: 60px;
    height: 60px;
  }
}

.full, .center-content, .center-content_presentation, .center-content_veille {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22505200;
  height: 100vh; /* Full viewport height */
  text-align: center;
  flex-direction: column; /* Vertical alignment */
  position: relative; /* Ensure content is above canvas */
  z-index: 2; /* Increase z-index to be above canvas */
}

.div_tete{
height: 200px;
width: 200px;

}

.portfolio-subtitle {
  font-size: 24px;
  color: #ddd;
  cursor: url('/images/cursor.png'), auto;
  margin-left: auto;
}

.tete, .tete_pre {
  border-radius: 100px;
  width: 200px;
  height: fit-content;
  margin-bottom: 25px; /* Adds some space below the image */
}

.blabla{
margin-left: 5%;
text-align: left;
margin-top: 1%;
}

.portfolio-title {
  font-size: 36px;
}

.portfolio-subtitle_presentation {
  font-size: 24px;
  color: #ddd;
  margin-right: 600px;
}

.carre_presentation, .carre_veille, .carre_e4 {
  background-color: #2c2c2cef;
  padding: 5% 5% 5% 5%; /* Ajustez les valeurs de padding */
  border-radius: 15px;
  display: flex;
 /* remmettre  align-items: center;*/
  justify-content: flex-start;
  margin-top: -100px;
  width: 80%; /* Définissez une largeur */
  min-height: 60vh; /* Hauteur minimale */
  white-space: nowrap;
  -webkit-box-shadow:0px 0px 36px 0px rgba(227,232,231,0.42);
  -moz-box-shadow: 0px 0px 36px 0px rgba(227,232,231,0.42);
  box-shadow: 0px 0px 36px 0px rgba(227,232,231,0.42);
}

.vl, .vl_presentation, .v2, .v3, .vl_e4 {
  border-left: 6px solid white;
  height: 500px;
  position: absolute;
  left: 35%;
  margin-top: 5%;
  margin-left: 120px;
  top: 0;
  border-radius: 10px;
}

.carre_container {
  font-size: 3vw;
  height: auto; /* Ajustez la hauteur automatiquement */
  text-align: left; /* Aligner le texte à gauche */
  margin-bottom: 1em; /* Ajouter un espace en bas si nécessaire */
}

.sous_container {
  margin-top: 17% !important;
  height: auto; /* Ajustez la hauteur automatiquement */
  text-align: left; /* Aligner le texte à gauche */
}

.full_presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22505200;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}



.sous_container {
  margin-top: 17% !important;
  height: auto; /* Ajustez la hauteur automatiquement */
  text-align: left; /* Aligner le texte à gauche */
  width: 100%; /* Assurer que le conteneur prend toute la largeur */
}


.v2 {
  height: 67%;
  left: 10%;
  margin-top: 6%;
}

.v3 {
  height: 67%;
  left: 60%;
  margin-top: 6%;
}

.custom-button {
  background-color: #1c1b1b;
  color: #fff;
  border: 2px solid #818181;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-button:hover {
  background-color: #424446;
  color: white;
  border: 2px solid #7a8184;
}



.cvpdf {
  margin-top: 2%;
  margin-left: 33%;
  bottom: 10%;
  -webkit-box-shadow:0px 0px 36px 0px rgba(227,232,231,0.42);
  -moz-box-shadow: 0px 0px 36px 0px rgba(227,232,231,0.42);
  box-shadow: 0px 0px 36px 0px rgba(227,232,231,0.42);
  overflow: hidden;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  width: 250px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu.open {
  height: 325px;
  width: 100%;
  max-width: 100%;
  left: 0; 
  right: 0;
}


.topnav-right .menu {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}